In [79]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\lenovo\.spss\folder4anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [80]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [82]:
import csv, sqlite3
import pandas

In [83]:
conn1 = sqlite3.connect("census_data.db")
cur1 =conn1.cursor()

In [84]:
conn2 = sqlite3.connect("public_schools.db")
cur2 =conn2.cursor()

In [85]:
conn3 = sqlite3.connect("crime_data.db")
cur3 =conn3.cursor()

In [86]:
!pip install -q pandas==1.1.5

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [32 lines of output]
  <string>:19: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  <string>:45: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  Traceback (most recent call last):
    File "C:\Users\LENOVO\.spss\folder4anaconda\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 353, in <module>
      main()
    File "C:\Users\LENOVO\.spss\folder4anaconda\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 335, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\LENOVO\.spss\folder4anaconda\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 118, in get_requires_for_build_wheel
      return hook(config_settings)
             ^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-build-env-z2enk39e\overlay\Lib\site-packages\setuptools\build_meta.py", line 332, in get_requires_for_build_wheel
      return self._get_build_requires(config_settings, requirements=[])
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-build-env-z2enk39e\overlay\Lib\site-packages\setuptools\build_meta.py", line 302, in _get_build_requires
      self.run_setup()
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-build-env-z2enk39e\overlay\Lib\site-packages\setuptools\build_meta.py", line 503, in run_setup
      super().run_setup(setup_script=setup_script)
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-build-env-z2enk39e\overlay\Lib\site-packages\setuptools\build_meta.py", line 318, in run_setup
      exec(code, locals())
    File "<string>", line 793, in <module>
    File "<string>", line 760, in setup_package
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-install-fgopv69t\pandas_dc34865b807d407ab762ea1fc1ea0e19\versioneer.py", line 1439, in get_version
      return get_versions()["version"]
             ^^^^^^^^^^^^^^
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-install-fgopv69t\pandas_dc34865b807d407ab762ea1fc1ea0e19\versioneer.py", line 1368, in get_versions
      cfg = get_config_from_root(root)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\LENOVO\AppData\Local\Temp\pip-install-fgopv69t\pandas_dc34865b807d407ab762ea1fc1ea0e19\versioneer.py", line 400, in get_config_from_root
      parser = configparser.SafeConfigParser()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  AttributeError: module 'configparser' has no attribute 'SafeConfigParser'. Did you mean: 'RawConfigParser'?
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [87]:
%sql sqlite:///crime_data.db

In [88]:
%sql sqlite:///public_schools.db

In [89]:
%sql sqlite:///census_data.db

In [90]:
import os

# Check if the file exists
print(os.path.exists(r'C:\Users\LENOVO\Desktop\NPOWER CANADA\SQL\ChicagoPublicSchools.csv'))

True

In [91]:
df = pandas.read_csv(r'C:\Users\LENOVO\Desktop\NPOWER CANADA\SQL\ChicagoCensusData.csv')
df.to_sql('census_data', conn1, if_exists='replace', index=False, method='multi')

78

In [92]:
df = pandas.read_csv(r'C:\Users\LENOVO\Desktop\NPOWER CANADA\SQL\ChicagoPublicSchools.csv')
df.to_sql('public_schools', conn2, if_exists='replace', index=False, method='multi')

566

In [93]:
df = pandas.read_csv(r'C:\Users\LENOVO\Desktop\NPOWER CANADA\SQL\ChicagoCrimeData.csv')
df.to_sql('crime_data', conn3, if_exists='replace', index=False, method='multi')

533

In [94]:
#Find the total number of crimes recorded in the CRIME table.
%sql sqlite:///crime_data.db
%sql SELECT COUNT(*) FROM crime_data

   sqlite:///census_data.db
 * sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[(533,)]

In [75]:
#List community area names and numbers with per capita income less than 11000.
%sql sqlite:///census_data.db
%sql select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER from census_data where PER_CAPITA_INCOME < 11000

 * sqlite:///census_data.db
   sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

In [ ]:
#List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
%sql sqlite:///census_data.db
%sql select CASE_NUMBER

In [ ]:
#List all kidnapping crimes involving a child?

In [ ]:
#List the kind of crimes that were recorded at schools. (No repetitions)

In [95]:
#List the type of schools along with the average safety score for each type.
%sql sqlite:///public_schools.db
%sql select School_Types, AVG(SAFETY_SCORE) AS Avg_Safety_Score \
    from public_schools \
    group by School_Types

   sqlite:///census_data.db
   sqlite:///crime_data.db
 * sqlite:///public_schools.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [78]:
%%sql
PRAGMA table_info(public_schools);

   sqlite:///census_data.db
   sqlite:///crime_data.db
 * sqlite:///public_schools.db
Done.

[(0, 'School_ID', 'INTEGER', 0, None, 0),
 (1, 'NAME_OF_SCHOOL', 'TEXT', 0, None, 0),
 (2, 'Elementary, Middle, or High School', 'TEXT', 0, None, 0),
 (3, 'Street_Address', 'TEXT', 0, None, 0),
 (4, 'City', 'TEXT', 0, None, 0),
 (5, 'State', 'TEXT', 0, None, 0),
 (6, 'ZIP_Code', 'INTEGER', 0, None, 0),
 (7, 'Phone_Number', 'TEXT', 0, None, 0),
 (8, 'Link', 'TEXT', 0, None, 0),
 (9, 'Network_Manager', 'TEXT', 0, None, 0),
 (10, 'Collaborative_Name', 'TEXT', 0, None, 0),
 (11, 'Adequate_Yearly_Progress_Made_', 'TEXT', 0, None, 0),
 (12, 'Track_Schedule', 'TEXT', 0, None, 0),
 (13, 'CPS_Performance_Policy_Status', 'TEXT', 0, None, 0),
 (14, 'CPS_Performance_Policy_Level', 'TEXT', 0, None, 0),
 (15, 'HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 0, None, 0),
 (16, 'Safety_Icon', 'TEXT', 0, None, 0),
 (17, 'SAFETY_SCORE', 'REAL', 0, None, 0),
 (18, 'Family_Involvement_Icon', 'TEXT', 0, None, 0),
 (19, 'Family_Involvement_Score', 'TEXT', 0, None, 0),
 (20, 'Environment_Icon', 'TEXT', 0, None, 0),
 (21, 'Environment_Score', 'REAL', 0, None, 0),
 (22, 'Instruction_Icon', 'TEXT', 0, None, 0),
 (23, 'Instruction_Score', 'REAL', 0, None, 0),
 (24, 'Leaders_Icon', 'TEXT', 0, None, 0),
 (25, 'Leaders_Score', 'TEXT', 0, None, 0),
 (26, 'Teachers_Icon', 'TEXT', 0, None, 0),
 (27, 'Teachers_Score', 'TEXT', 0, None, 0),
 (28, 'Parent_Engagement_Icon', 'TEXT', 0, None, 0),
 (29, 'Parent_Engagement_Score', 'TEXT', 0, None, 0),
 (30, 'Parent_Environment_Icon', 'TEXT', 0, None, 0),
 (31, 'Parent_Environment_Score', 'TEXT', 0, None, 0),
 (32, 'AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 0, None, 0),
 (33, 'Rate_of_Misconducts__per_100_students_', 'REAL', 0, None, 0),
 (34, 'Average_Teacher_Attendance', 'TEXT', 0, None, 0),
 (35, 'Individualized_Education_Program_Compliance_Rate', 'TEXT', 0, None, 0),
 (36, 'Pk_2_Literacy__', 'TEXT', 0, None, 0),
 (37, 'Pk_2_Math__', 'TEXT', 0, None, 0),
 (38, 'Gr3_5_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (39, 'Gr3_5_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (40, 'Gr3_5_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (41, 'Gr3_5_Keep_Pace_Math__', 'TEXT', 0, None, 0),
 (42, 'Gr6_8_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (43, 'Gr6_8_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (44, 'Gr6_8_Keep_Pace_Math_', 'TEXT', 0, None, 0),
 (45, 'Gr6_8_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (46, 'Gr_8_Explore_Math__', 'TEXT', 0, None, 0),
 (47, 'Gr_8_Explore_Read__', 'TEXT', 0, None, 0),
 (48, 'ISAT_Exceeding_Math__', 'REAL', 0, None, 0),
 (49, 'ISAT_Exceeding_Reading__', 'REAL', 0, None, 0),
 (50, 'ISAT_Value_Add_Math', 'REAL', 0, None, 0),
 (51, 'ISAT_Value_Add_Read', 'REAL', 0, None, 0),
 (52, 'ISAT_Value_Add_Color_Math', 'TEXT', 0, None, 0),
 (53, 'ISAT_Value_Add_Color_Read', 'TEXT', 0, None, 0),
 (54, 'Students_Taking__Algebra__', 'TEXT', 0, None, 0),
 (55, 'Students_Passing__Algebra__', 'TEXT', 0, None, 0),
 (56, '9th Grade EXPLORE (2009)', 'TEXT', 0, None, 0),
 (57, '9th Grade EXPLORE (2010)', 'TEXT', 0, None, 0),
 (58, '10th Grade PLAN (2009)', 'TEXT', 0, None, 0),
 (59, '10th Grade PLAN (2010)', 'TEXT', 0, None, 0),
 (60, 'Net_Change_EXPLORE_and_PLAN', 'TEXT', 0, None, 0),
 (61, '11th Grade Average ACT (2011)', 'TEXT', 0, None, 0),
 (62, 'Net_Change_PLAN_and_ACT', 'TEXT', 0, None, 0),
 (63, 'College_Eligibility__', 'TEXT', 0, None, 0),
 (64, 'Graduation_Rate__', 'TEXT', 0, None, 0),
 (65, 'College_Enrollment_Rate__', 'TEXT', 0, None, 0),
 (66, 'COLLEGE_ENROLLMENT', 'INTEGER', 0, None, 0),
 (67, 'General_Services_Route', 'INTEGER', 0, None, 0),
 (68, 'Freshman_on_Track_Rate__', 'TEXT', 0, None, 0),
 (69, 'X_COORDINATE', 'REAL', 0, None, 0),
 (70, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (71, 'Latitude', 'REAL', 0, None, 0),
 (72, 'Longitude', 'REAL', 0, None, 0),
 (73, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0),
 (74, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (75, 'Ward', 'INTEGER', 0, None, 0),
 (76, 'Police_District', 'INTEGER', 0, None, 0),
 (77, 'Location', 'TEXT', 0, None, 0)]

In [98]:
#List 5 community areas with highest % of households below poverty 
%sql sqlite:///census_data.db
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY \
    from census_data \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc \
    limit 5

 * sqlite:///census_data.db
   sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [109]:
#Which community area is most crime prone? Display the coumminty area number only.
%sql sqlite:///crime_data.db
%sql select COMMUNITY_AREA_NUMBER, COUNT(*) AS crime_rate \
    from crime_data \
    where COMMUNITY_AREA_NUMBER != 'None' \
    group by COMMUNITY_AREA_NUMBER \
    order by crime_rate desc \
    limit 1

   sqlite:///census_data.db
 * sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[(25.0, 43)]

In [110]:
#Use a sub-query to find the name of the community area with highest hardship index
%sql sqlite:///census_data.db
%sql select COMMUNITY_AREA_NAME from census_data where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from census_data)

 * sqlite:///census_data.db
   sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[('Riverdale',)]

In [121]:
#Use a sub-query to determine the Community Area Name with most number of crimes?
%sql sqlite:///crime_data.db
%sql select COMMUNITY_AREA_NUMBER, COUNT(*) AS crime_rate \
    from crime_data \
    where COMMUNITY_AREA_NUMBER = (select MAX(COMMUNITY_AREA_NUMBER) from crime_data) \
    order by COMMUNITY_AREA_NUMBER desc

   sqlite:///census_data.db
 * sqlite:///crime_data.db
   sqlite:///public_schools.db
Done.

[(77.0, 2)]